.footer-container {
    height: 100%;
    width: 100%;
    background-color: rgb(246, 231, 214);
}

.list-item {
    list-style: none;
}

.footer-top {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 100px;
    justify-content: center;
}
.footer-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.list-container {
    display: flex;
    flex-direction: column;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 12px;
}

.icon-link {
    font-size: 20px;
    margin-bottom: 20px;
}